.progress{
	display: none!important;
}
.titleHeader table td:eq(0){
	width: 98%;
	text-align: center;
}
.bottomBar{
	display: none!important;
}

.reveal{
	overflow: hidden;
	overflow-y: auto!important;
}
.reveal .slides{
	position: relative!important;
    left: 0px;
    top: 0px;
    transform: inherit!important;
    perspective: none!important;
    perspective-origin: center;
}
#outerSlides{
	height: inherit!important;
	margin: auto;
}
.reveal section{
	position: relative!important;
	transition: none;
    opacity: 1!important;
    transform: none!important;
    margin-bottom: 20px;
    display: block!important;
    left: 0px!important;
    top: 0px!important;
}